.main{
    height: auto;
    width: 100%;
    margin: 0 auto;
   
}

.main > .interface{
    margin-top: -10rem;
    
}

#teste{
    margin-top: 30rem;
}

.row_container{
    position: relative;
    width: 90%;
    margin: auto;
    margin-top: 8rem;
    overflow: hidden;
    z-index: 1;
}

.row_container .titulo_row{
    color: #fff;
    border-bottom: 1px solid #c5c5c5;
    text-transform: uppercase;
    font-weight: bold;
}

.row_container #row1, .row_container #row2, .row_container #row3, .row_container #row4{
    display: flex;
    transition: transform 0.5s ease;
}

#row1 .card_row, #row2 .card_row, #row3 .card_row, #row4 .card_row{
    padding: 80px;
    background-color: #595959;
    margin: 15px;
    border-radius: 5px;
    transition: all .3s;
    border: solid 2px #9c9c9c;
    box-shadow: 2px 2px 5px 2px #000000;
}

.card_row:hover{
    transform: scale(1.05);
}

.card_row i{
    font-size: 80px;
    color: #9c9c9c;
    border: solid 2px #9c9c9c;
    text-align: center;
    border-radius: 12px;
    padding: 20px;
}

.feed{ 
    margin-top: 10rem;
    display: flex;
    width: 100%;
    border-bottom: solid 1px #7c7c7c;
    border-top: solid 1px #7c7c7c;
}



.feed .feed_publi{
    
    
    width: 60%;
    height: auto;
    border-right: solid 1px #7c7c7c;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.feed_publi .cards_feed{
    background-color: #000;
    width: 90%;
    height: 150px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px #000;
}

.feed .feed_users{
    
    width: 40%;
    height: 50rem;
    
    display: flex;
    align-items: center;
    flex-direction: column;
   
    
}

.feed_users .cards_users{
    background-color: #000;
    height: 85px;
    width: 90%;
    margin: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    box-shadow: 2px 2px 5px 2px #0000;
}

.cards_users i{
    font-size: 70px;
    color: #9c9c9c;
}

.cards_users .btn_user{
    background: linear-gradient(to left, rgb(0, 0, 255), rgb(0, 89, 255));
    border: none;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    box-shadow: 2px 2px 10px 2px #000;
    cursor: pointer;
    transition: all .5s;
}

.cards_users .nome_user{
    color: #fff;
}

.cards_users .btn_user:hover{
    transform: scale(1.03);
    
}

.prev_btn, .next_btn {
    border: none;
    opacity: 0;
    background: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 35px;
    z-index: 1;
    color: #fff;
    transition: all .5s;
}



.prev_btn {
    left: 10px;
    
}

.btn_prev{
    display: none;
}

.next_btn {
    right: 10px;
    
}

.next_btn button{
    background: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.next_btn button i{
    color: #fff;
}

.prev_btn button{
    background: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.prev_btn button i{
    color: #fff;
}



.row_container:hover .next_btn, .row_container:hover .prev_btn  {
    opacity: 1; 
}

.filtro{
    
    
}

.filtro > .interface{
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtro_container{
    padding: 20px;
    margin-bottom: -10rem;
    background-color: #0D0D0D;
    border-radius: 5px;
    border: solid 1px #595959;
    box-shadow: 4px 4px 8px 4px #000000;
    transition: margin-top 1s cubic-bezier(0.25, 0.8, 0.25, 1);
    top: 6rem;
    width: 350px;
    margin-top: -100%;
    opacity: 0;
    position: fixed;
    z-index: 1;
}

.filtro_container.active{
    margin-top: 0;
    opacity: 1;
}

.filtro_container form{
    display: flex;
    flex-wrap: wrap;
    
}

.filtro_container form label{
    margin: 10px;
    flex-grow: 1;
    flex-basis: 200;
    background-color: #fff;
    border-radius: 10px;
    
}

.filtro_container form label input, .filtro_container form label select{
    background-color: transparent;
    border: none;
    padding: 10px;
    outline: none;
    
}

#enviar, #resetar{
    border-radius: 10px;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
    transition: all ease 1s;
}

#enviar:hover{
    background-color: #c5c5c5;
}

#resetar:hover{
    background-color: red;
}

.titulo-fil{
    text-align: center;
    color: #fff;
    font-size: 20px;
    
}

.titulo-fil h1{
    margin-top: 30px;
}

.top_plat{
    width: 100%;
    height: 45.625rem;
    
    position: relative;
    
    
    z-index: 0;
}

.top_plat .background_video{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    
}

.top_plat .background_video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}

.top_plat .contente_absolute{
    width: 50%;
    position: relative;
    z-index: 1;
    background: linear-gradient(to right, rgb(0, 0, 0), transparent);
    height: 100%;
}

.top_plat .contente_absolute .contente_adjust{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 180px;
    left: 120px;
}

.contente_adjust h2{
    font-size: 40px;
    color: #7c7c7c;
    display: flex;
    gap: 5px;
    margin-bottom: 30px;
}




.contente_adjust h2 span{
    font-size: 15px;
}

.contente_adjust h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 2.5rem;
    border-bottom: solid 2px #7c7c7c;
}

.contente_adjust #span{
    color: #7c7c7c;
    margin-top: 30px;
    font-size: 20px;


}

.contente_adjust a{
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    width: 225px;
    text-align: center;
}

.contente_adjust a span{
    text-transform: uppercase;
    color: #161616;
}

.margin_top{
    top: -100px;
    position: relative;
}


@media screen and (min-width: 820px) and (max-width:1020px){
    .top_plat .contente_absolute{
        width: 60%;
       
    }
    .top_plat .contente_absolute .contente_adjust{
        left: 40px;
        top: 200px;
    
        
    }
   
    .contente_adjust h1{
        margin-top: 10px;
        font-size: 2rem;
  
    }

    .contente_adjust h2{
        font-size: 2rem;
    }

    .contente_adjust #span{
        margin-top: 50px;
    }

    .feed{
        border-bottom: none;
        border-top: none;
        align-items: center;
        justify-content: center;
    }

    .feed .feed_publi{
        border-right: none;
    }

    .feed .feed_users{
        display: none;
        border: none;
    }


}

@media screen and (max-width: 819px) {
    .top_plat .contente_absolute{
        width: 90%;
       
    }
    .top_plat .contente_absolute .contente_adjust{
        left: 20px;
        top: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
   
    .contente_adjust h1{
        margin-top: 40px;
        font-size: 1rem;
        text-align: center;
    }

    .contente_adjust h2{
        font-size: 1.75rem;
    }

    .contente_adjust #span{
        margin-top: 120px;
    }

  
    .feed{
        border-bottom: none;
        border-top: none;
        align-items: center;
        justify-content: center;
    }

    .feed .feed_publi{
        border-right: none;
        width: 100%;
    }

    .feed .feed_users{
        display: none;
        border: none;
    }
}












