.main{
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    
}

.main > .interface{
    
    
}

#teste{
    margin-top: 30rem;
}

.row_container{
    position: relative;
    width: 90%;
    margin: auto;
    margin-top: 8rem;
    overflow: hidden;
}

.row_container .titulo_row{
    color: #fff;
    border-bottom: 1px solid #c5c5c5;
    text-transform: uppercase;
    font-weight: bold;
}

.row_container #row1, .row_container #row2, .row_container #row3, .row_container #row4{
    display: flex;
    transition: transform 0.5s ease;
}

#row1 .card_row, #row2 .card_row, #row3 .card_row, #row4 .card_row{
    padding: 80px;
    background-color: red;
    margin: 15px;
}

.feed{
    
    margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.feed .feed_publi{
    
    background-color: red;
    width: 60%;
    height: 120rem;
    margin: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.feed_publi .cards_feed{
    background-color: blue;
    width: 90%;
    height: 100%;
    margin: 20px;
}

.feed .feed_users{
    position: relative;
    bottom: 400px;
    background-color: red;
    width: 40%;
    height: 70rem;
    margin: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.feed_users .cards_users{
    background-color: blue;
    height: 100px;
    width: 90%;
    margin: 20px;
}

.prev_btn, .next_btn {
    border: none;
    opacity: 0;
    background: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 35px;
    z-index: 1;
    color: #fff;
    transition: all .5s;
}



.prev_btn {
    left: 10px;
}

.next_btn {
    right: 10px;
}

.next_btn button{
    background: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.next_btn button i{
    color: #fff;
}

.prev_btn button{
    background: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.prev_btn button i{
    color: #fff;
}



.row_container:hover .next_btn, .row_container:hover .prev_btn  {
    opacity: 1; /* Visível ao passar o mouse */
}




