.header{
    width: 100%;
    background-color: #000;
    top: 0;
    z-index: 160;
    position: fixed;
}

.header > .interface{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    padding: 5px 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
}

.logo span{
    color: #fff;
    font-size: 13px;
    margin-left: 3px;
    font-weight: 100;
    font-family: "Jaro", sans-serif;
}

.logo svg{
    width: 40px;
    margin-right: 7px;
    
}

.logo p{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}

.nav_bar{
    display: inline-flex;
    align-items: center;
}

.nav_bar a{
    margin: 10px;
    color: #fff;
}

.nav_bar nav{
    margin: 0 1.75rem;
    height: 50px;
    display: flex;
    align-items: center;
}

.nav_bar nav a{
    color: #c9c9c9;
    transition: all .3s;
    font-weight: 600;
    background-color: transparent;
    padding: 19px 5px;
    
}

.nav_bar nav .ativo{
    color: #fff;
    background-color: #111111a1;
}

.nav_bar nav a:hover{
    background-color: #111111a1;
    color: #fff;
    
}

#entrar:hover{
    color: #000;
    background-color: #fff;
}

#entrar{
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 3px;
    color: #fff;
    transition: all .5s;
   
}

#cad{
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    color: #000;
    text-transform: uppercase;
    transition: all .5s;
    border: solid 1px #fff;

}

#cad:hover{
    background-color: transparent;
    color: #fff;
    
}



.search{
    width: 50%;
    display: flex;
    background-color: #595959;
    border-radius: 30px;
    padding: 3px;
}

.search input{
    width: 100%;
    height: 40px;
    outline: none;    
    border: none;
    padding: 20px;
    border-radius: 30px;
}

.search button{
    border: none;
    padding: 0 20px;
    cursor: pointer;
    background: transparent;
}



.search button i{
    font-size: 20px;
    color: #c9c9c9;
    
}

.search input::placeholder{
    font-family: 'Chakra Petch';
    font-weight: bold;
    color: #555555;
}

.perfil_icon{
    padding: 30px;
    background-color: #595959;
    border-radius: 999px;
    border: solid 2px #c9c9c9;
    cursor: pointer;
}

.user_screem_menu{
    background-color: black;
    height: 100vh;
    width: 300px;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    transition: all ease-in-out .5s;
    border-left: solid 1px #595959;
    opacity: 0;
}

.user_screem_menu.active_user{
    right: 0;
    opacity: 1;
}

.perfil_user{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: solid 1px #595959;
    margin-bottom: 50px;
}

.perfil_user a{
    display: inline-flex;
    width: 100%;
    margin: 25px;
    gap: 20px;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    transition: all .5s;
}

.perfil_user a:hover{
    background-color: #595959;
}




.perfil_icon_off{
    background-color: #595959;
    padding: 20px;
    border-radius: 999px;
    border: solid 2px #c9c9c9;
}

.info_user{
    display: flex;
    flex-direction: column;
   

}

.info_user h3{
    font-size: 17px;

}

.info_user span{
    font-size: 15px;
    color: #8f8f8f;
}

.user_screem_menu ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: solid 1px #595959;
}

.user_screem_menu ul li{
    text-align: justify;
    list-style-type: none;
}

.user_screem_menu ul li a{
    display: inline-flex;
    gap: 40px;
    margin-bottom: 30px;
    color: #8f8f8f;
    transition: all .3s;
}

.user_screem_menu ul li a:hover{
    color: #fff;
}

.user_screem_menu ul li a i{
   margin-left: 20px;
}

.btn_logout{
    margin-top: 10rem;
    width: 90%;
}

#border_bottom{
    margin-bottom: 50px;
}

.btn_logout{
    padding: 10px 30px;
    border: solid 2px rgb(194, 2, 2);
    color: rgb(194, 2, 2);
    font-size: 17px;
    border-radius: 5px;
    transition: all .3s;
}

.btn_logout:hover{
    background-color: rgba(194, 2, 2, 0.247);
}

.off-screen-menu {
    background-color: black;
    height: 100vh;
    width: 300px;
    max-width: 450px;
    position: fixed;
    top: 0;
    left: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    transition: all ease-in-out .5s;
    opacity: 0;
    
}
  .off-screen-menu.active {
    left: 0;
    opacity: 1;
  }
  
  nav {
    padding: 1rem;
    display: flex;
  
  }

  .off-screen-menu ul{
    width: 100%;
  }

  .off-screen-menu ul li{
    list-style-type: none;
    text-align: justify;
    margin-bottom: 30px;
    width: 100%;
    
  }

  .off-screen-menu ul li a{
    color: #8f8f8f;
    margin-left: 50px;
  }
  
  
  
  /* ham menu */
  .ham-menu {
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
    cursor: pointer;
  }
  .ham-menu span {
    height: 5px;
    width: 100%;
    background-color: #fff;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .5s ease;
  }
  .ham-menu span:nth-child(1) {
    top: 25%;
  }
  .ham-menu span:nth-child(3) {
    top: 75%;
  }
  .ham-menu.active span {
    background-color: #fff;
  }
  .ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .ham-menu.active span:nth-child(2) {
    opacity: 0;
  }
  .ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  
  
