.header{
    width: 100%;
    background-color: #000;
    top: 0;
    z-index: 160;
    position: fixed;
}

.header > .interface{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    padding: 5px 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
}

.logo span{
    color: #fff;
    font-size: 13px;
    margin-left: 3px;
    font-weight: 100;
    font-family: "Jaro", sans-serif;
}

.logo svg{
    width: 40px;
    margin-right: 7px;
    
}

.logo p{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}

.nav_bar{
    display: inline-flex;
    align-items: center;
}

.nav_bar a{
    margin: 10px;
    color: #fff;
}

.nav_bar nav{
    margin: 0 1.75rem;
    height: 50px;
    display: flex;
    align-items: center;
}

.nav_bar nav a{
    color: #c9c9c9;
    transition: all .3s;
    font-weight: 600;
    background-color: transparent;
    padding: 19px 5px;
    
}

.nav_bar nav .ativo{
    color: #fff;
    background-color: #111111a1;
}

.nav_bar nav a:hover{
    background-color: #111111a1;
    color: #fff;
    
}

#entrar:hover{
    color: #000;
    background-color: #fff;
}

#entrar{
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 3px;
    color: #fff;
    transition: all .5s;
   
}

#cad{
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    color: #000;
    text-transform: uppercase;
    transition: all .5s;
    border: solid 1px #fff;

}

#cad:hover{
    background-color: transparent;
    color: #fff;
    
}


.container_slaman{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.search{
    width: 50%;
    display: flex;
    background-color: #595959;
    border-radius: 30px;
    padding: 3px;
}

.search input{
    width: 100%;
    height: 40px;
    outline: none;    
    border: none;
    padding: 20px;
    border-radius: 30px;
}

.search button{
    border: none; 
    cursor: pointer;
    background: transparent;
    margin: 0px 20px;
}



.search button i{
    font-size: 20px;
    color: #c9c9c9;
    
}

.search input::placeholder{
    font-family: 'Chakra Petch';
    font-weight: bold;
    color: #555555;
}

.perfil_icon{
    padding: 30px;
    background-color: #595959;
    border-radius: 999px;
    border: solid 2px #c9c9c9;
    cursor: pointer;
}

.user_screem_menu{
    background-color: black;
    height: 100vh;
    width: 300px;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    transition: all ease-in-out .5s;
    border-left: solid 1px #595959;
    opacity: 0;
}

.user_screem_menu.active_user{
    right: 0;
    opacity: 1;
}

.perfil_user{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: solid 1px #595959;
    margin-bottom: 50px;
}

.perfil_user a{
    display: inline-flex;
    width: 100%;
    margin: 25px;
    gap: 20px;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    transition: all .5s;
}

.perfil_user a:hover{
    background-color: #595959;
}




.perfil_icon_off{
    background-color: #595959;
    padding: 20px;
    border-radius: 999px;
    border: solid 2px #c9c9c9;
}

.info_user{
    display: flex;
    flex-direction: column;
   

}

.info_user h3{
    font-size: 17px;

}

.info_user span{
    font-size: 15px;
    color: #8f8f8f;
}

.user_screem_menu ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: solid 1px #595959;
}

.user_screem_menu ul li{
    text-align: justify;
    list-style-type: none;
}

.user_screem_menu ul li a{
    display: inline-flex;
    gap: 40px;
    margin-bottom: 30px;
    color: #8f8f8f;
    transition: all .3s;
}

.user_screem_menu ul li a:hover{
    color: #fff;
}

.user_screem_menu ul li a i{
   margin-left: 20px;
}

.btn_logout{
    margin-top: 10rem;
    width: 90%;
}

#border_bottom{
    margin-bottom: 50px;
}

.btn_logout{
    padding: 10px 30px;
    border: solid 2px rgb(194, 2, 2);
    color: rgb(194, 2, 2);
    font-size: 17px;
    border-radius: 5px;
    transition: all .3s;
}

.btn_logout:hover{
    background-color: rgba(194, 2, 2, 0.247);
}

.off-screen-menu {
    background-color: black;
    height: 100vh;
    width: 300px;
    max-width: 450px;
    position: fixed;
    top: 0;
    left: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    transition: all ease-in-out .5s;
    opacity: 0;
    
}
  .off-screen-menu.active {
    left: 0;
    opacity: 1;
  }
  
  nav {
    padding: 1rem;
    display: flex;
  
  }

  .off-screen-menu ul{
    width: 100%;
  }

  .off-screen-menu ul li{
    list-style-type: none;
    text-align: justify;
    margin-bottom: 30px;
    width: 100%;
    
  }

  .off-screen-menu ul li a{
    color: #8f8f8f;
    margin-left: 50px;
  }
  
  
  
  /* ham menu */
  .ham-menu {
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
    cursor: pointer;
  }
  .ham-menu span {
    height: 5px;
    width: 100%;
    background-color: #fff;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .5s ease;
  }
  .ham-menu span:nth-child(1) {
    top: 25%;
  }
  .ham-menu span:nth-child(3) {
    top: 75%;
  }
  .ham-menu.active span {
    background-color: #fff;
  }
  .ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .ham-menu.active span:nth-child(2) {
    opacity: 0;
  }
  .ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  
.carrinho{
    transition: all .3s;
    border-radius: 100%;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
   margin-right: 20px;
}

.carrinho:hover{
    background-color: #a0a0a05e;
}

.carrinho i{
    font-size: 20px;
}

.card_car{
    background-color: #0D0D0D;
    z-index: 170;
    position: absolute;
    top: -500px;
    left: 120px;
    right: 120px;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 auto;
    border: solid 1px #595959;
    width: 400px;
    height: auto;
    opacity: 0;
    transition: all ease 1s;
}

.card_car.active_car{
    top: 140px;
    opacity: 1;
    
}

.card_car .header_car{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5959593d;
    padding: 15px;
}

.card_car .header_car h2{
    color: #fff;
}

.card_car .header_car .fechar_car{
    transition: all .3s;
    border-radius: 100%;
    padding: 10px 12px;
    color: #c9c9c9;
    cursor: pointer;
}

.card_car .header_car .fechar_car:hover{
    background-color: #59595944;
}

.card_car .content_car{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80pxs;
    margin-top: 3rem;
}

.card_car .content_car h4{
    color: #fff;
}

.card_car .content_car .container_precos{
    display: flex;
    flex-direction: column;
    margin: 5rem 2rem;
    margin-bottom: 2rem;
    align-items: flex-end;
    position: relative;
    left: 90px;
}

.container_precos button{
    border: none;
    background-color: transparent;
    color: #8f8f8f;   
    margin-top: 10px; 
}

.footer_car{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer_car a{
    width: 80%;
    height: 50px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
    color: #8f8f8f;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5959594d;
}


.header_search{
    display: none;
}  

@media screen and (max-width: 1020px) {
    .header_search{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        top: 80px;
        z-index: 160;
        position: fixed;
        background-color: rgb(43, 43, 43);
        border-top: solid 1px #8f8f8f;
    }

    .header_search .search{
        margin-top: 6px;
        margin-bottom: 6px;
        width: 90%;
    }


    .header > .interface{
        justify-content: space-between;
    }

    .interface .search{
        display: none;
    }

    .nav_myuser{
        margin-right: 20px;
    }

    .user_screem_menu{
        z-index: 170;
    }

    .ham-menu{
        z-index: 180;
    }

    .off-screen-menu{
        z-index: 170;
    }

    
}


@media screen and (max-width: 430px) {
    .card_car{
        left: 60px;
       
    }
}

@media screen and (min-width: 361px) and (max-width: 410px) {
    .card_car{
        left: 50px;
    }
}

@media screen and (max-width: 360px) {
    .card_car{
        left: 40px;
    }
}
