.main{
    
    height: auto;
    width: 100%;
    margin: 0 auto;
}

.main > .interface{
    display: flex;
    
    align-items: center;
    justify-content: center;
}

.container_perfil{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10rem;
}

.container_perfil .card_perfil{
    padding: 120px 220px;
    background-color: #595959;
    border-radius: 15px;
    margin: 5px;
    transition: all ease .8s;
}


.container_perfil .card_info{
    padding: 120px 220px;
    background-color: #595959;
    border-radius: 15px;
    margin: 5px;
    flex-grow: 1;
    flex-basis: 200;
    transition: all ease .8s;
}

.container_perfil .card_numeros{
    padding: 120px 220px;
    background-color: #595959;
    border-radius: 15px;
    margin: 5px;
    flex-grow: 1;
    flex-basis: 200;
    transition: all ease .8s;
}

.container_perfil .card_feed{
    padding: 120px 220px;
    background-color: #595959;
    border-radius: 15px;
    margin: 5px;
    transition: all ease .8s;
}

.card_perfil:hover, .card_info:hover, .card_numeros:hover, .card_feed:hover{
    transform: scale(1.05);
    margin: 10px;
}

.card_feed, .card_perfil, .card_info, .card_numeros{
    height: auto;
}
