.main{
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.main > .interface{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}

.container_content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
}

.card_prod{ 
    width: 100%;
    height: auto;
    display: inline-flex;
    flex-grow: 1;
    flex-basis: 200;

}

.card_prod .card_capa{
    height: 180px;
    width: 180px;
    border: solid 1px #595959;
    border-radius: 5px;
    background-color: #59595965;
   
}

.card_prod .details_prod{
    width: 260px;
    height: auto;
    margin-left: 40px;
    flex-grow: 1;
    flex-basis: 200;
    border-bottom: solid 1px #595959;
}

.titulo_prod h1{
    color: #fff;
    font-size: 40px;
}

.details_prod span{
    color: #7a7979;
}

.footer_details{
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

.footer_card{
    width: 100%;
    height: auto;
    border-bottom: solid 1px #595959;
    margin-bottom: 50px;
}

.footer_card .player_music{
    width: 805px;
    height: 50px;
    background-color: #5959593b;
    margin-top: 15px;
    margin-left: 220px;
    border-radius: 10px;
    border: solid 1px #595959;
    margin-bottom: 50px;
}

.card_relacionados{
    width: 100%;
    height: 500px;
    background-color: #5959592f;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}













.filtro > .interface{
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtro_container{
    padding: 20px;
    margin-bottom: -10rem;
    background-color: #0D0D0D;
    border-radius: 5px;
    border: solid 1px #595959;
    box-shadow: 4px 4px 8px 4px #000000;
    transition: margin-top 1s cubic-bezier(0.25, 0.8, 0.25, 1);
    top: 6rem;
    width: 350px;
    margin-top: -100%;
    opacity: 0;
    position: fixed;
    z-index: 1;
}

.filtro_container.active{
    margin-top: 0;
    opacity: 1;
}

.filtro_container form{
    display: flex;
    flex-wrap: wrap;
    
}

.filtro_container form label{
    margin: 10px;
    flex-grow: 1;
    flex-basis: 200;
    background-color: #fff;
    border-radius: 10px;
    
}

.filtro_container form label input, .filtro_container form label select{
    background-color: transparent;
    border: none;
    padding: 10px;
    outline: none;
    
}

#enviar, #resetar{
    border-radius: 10px;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
    transition: all ease 1s;
}

#enviar:hover{
    background-color: #c5c5c5;
}

#resetar:hover{
    background-color: red;
}

.titulo-fil{
    text-align: center;
    color: #fff;
    font-size: 20px;
    
}

.titulo-fil h1{
    margin-top: 30px;
}